<!DOCTYPE html>
<html>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <div style="max-width:600px;Margin:0 auto">
          <table align="center" cellpadding="0" cellspacing="0" style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px">
            <tbody>
              <tr>
                <td>
                  <table style="margin-bottom:40px;width:100%" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <div style="width: 192px;height: 192px;margin-left: auto;margin-right: auto">

                            <img src="https://halapp.io/logo192.png" style="display:block;margin-left:auto;margin-right:auto" alt="halapp.io" />

                          </div>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="text-align:justify;word-break:break-word">
                  <table style="margin-bottom:20px;width:100%" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <table style="width:100%;margin-bottom:20px" width="100%" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td style="text-align: center; vertical-align: middle;">
                                  <strong style="font-family:Helvetica,Arial,sans-serif;color:#234567;font-size:26px;line-height:30px;">
                                    <%= organizationName %>
                                  </strong>

                                  <h1 style="font-size:22px;line-height:30px;color:#054752;word-break:normal">
                                    <%= formattedAddress %>
                                  </h1>

                                  <h2 style="font-size:22px;line-height:30px;color:#054752;word-break:normal">
                                    <%= email %>
                                  </h2>
                                  <h2 style="font-size:22px;line-height:30px;color:#054752;word-break:normal">
                                    <%= phoneNumber %>
                                  </h2>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td>
                  <table width="100%" style="margin-bottom:20px;width:100%">
                    <tbody>
                      <tr>
                        <td width="100%">
                          <div style="width:100%;height:1px;background-color:#ddd" color="#DDD" width="100%"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td><%= fullRequest %> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>

</html>